button {
    outline: none;
    border-radius: 8px;
    height: 64px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    background-color: #33adc5;
    border: none;
    color: white;
}